@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
/* 초기화 */
body, h1, h2, h3, h4, h5, h6,  ol, dl, p, ul, li, a{
    margin: 0;
    padding: 0;
}
#inner{
    display: block;
    margin: 0 auto;
    width: 90%;
}
body{
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing : 0.5px;
    background-repeat: no-repeat;
	background-size: cover;
    background-size: 100%;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
	background-attachment: fixed;
	background-image: url('../img/collaboration/bg.png');
}
.main h1{
	opacity: 0;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: 4rem;
    line-height: 5rem;
    font-weight: 900;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.534);
	animation: fadebig 1.2s ease forwards;
    animation-delay: 0.5s;
}
.main small{
    font-size: 2.7rem;
    font-weight: 700;
}

/* --------------------------------------imageslider----------------------------------- */
.banner{
	position:relative;
	width:1050px;
	height:550px;
}
.banner .banner-wrap{
    border: 6px dashed rgb(0, 0, 0);
	border-radius: 20px;
	position:relative;
	width:785px;
	overflow:hidden;
	height:457px;
	margin-left: 130px;
}
.banner .banner-container{
	position:relative;
	width:4710px;
	height:100%;
}
.banner .banner-container::after{
	content:'';
	display:block;
	position:relative;
	clear:both
}
.banner .banner-container .banner-item{
	display:-webkit-box;
	display:-ms-flex;
	display:flex;
	position:relative;
	float:left;
	width:785px;
	height:457px;
	-webkit-box-orient:vertical;
	-ms-flex-direction:column;
	flex-direction:column;
	-webkit-box-pack:center;
	-ms-flex-pack:center;
	justify-content:center;
}
.banner .banner-container .banner-item .image-area{
	position:absolute;
	width:100%;
	height:100%;
}
.banner .banner-container .banner-item .image-area img{
	display:inline-block;
	width:100%;
	vertical-align:top;
}
.banner .dot-nav{
	position:absolute;
	z-index:50;
	top: 520px;
	width:100%;
}
.banner .dot-nav ul{
	display:block;
	text-align:center;
}
.banner .dot-nav li{
	display:inline-block;
	padding-right:7px;
	padding-left:7px;
}
.banner .dot-nav li span{
    border: 3px solid #000;
	display:block;
	width:15px;
	height:15px;
	background-color:rgb(0, 0, 0);
	border-radius:50%;
	line-height:8px;
	cursor:pointer;
	user-select:none;
}
.banner .dot-nav li span:hover{
	background-color:rgb(136, 136, 136)
}
.banner .dot-nav li span.selected{
	background-color:rgb(255, 255, 255);
	cursor:default
}
.banner .paddle-nav ul{
	list-style: none;
    padding: 0;
    margin: 0;
}
.banner .paddle-nav button{
	position:absolute;
	z-index:50;
	top:200px;
	width:71px;
	height:71px;
	background: url('../img/collaboration/button.png') no-repeat;
	border: 0;
	outline: 0;
	-webkit-transition:background-color 180ms ease-in-out;
	cursor:pointer;
}
.banner .paddle-nav button::after{
	display:inline-block;
	position:relative;
	text-decoration:none;
	z-index:1;
}
.banner .paddle-nav button.disabled{
	display:none
}
.banner .paddle-nav button.prev{
	left:18px;
	background-position-x: 0;
}
.banner .paddle-nav button.prev:hover{
	opacity: 0.7;
}
.banner .paddle-nav button.next{
	right:18px;
	background-position-x: -73.8px;
}
.banner .paddle-nav button.next:hover{
	opacity: 0.7;
}


/* --------------------------------------fendi----------------------------------- */
.fendi{
    margin-top: 150px;
	display: flex;
	justify-content: space-between;
}
.fendi h2{
	opacity: 0;
    letter-spacing :6px;
	padding: 170px 0;
    font-family: 'Manrope', sans-serif;
    font-size: 5rem;
    font-weight: 800;
    line-height: 5rem;
}
.fendi h2 small{
	letter-spacing :2px;
    font-size: 2rem;
    font-weight: 700;
    line-height: 4rem;
}

/* --------------------------------------samsung----------------------------------- */
.samsung{
    margin-top: 200px;
	display: flex;
	justify-content: space-between;
}
.samsung h2{
	opacity: 0;
    letter-spacing :6px;
    font-family: 'Manrope', sans-serif;
    font-size: 5rem;
    font-weight: 800;
    line-height: 5rem;
	text-align: right;
	padding: 170px 0;
}
.samsung h2 small{
	letter-spacing :2px;
    font-size: 2rem;
    font-weight: 700;
    line-height: 4rem;
}

/* --------------------------------------PUMA----------------------------------- */
.puma{
    margin-top: 200px;
	margin-bottom: 200px;
	display: flex;
	justify-content: space-between;
}
.puma h2{
	opacity: 0;
    letter-spacing :6px;
    font-family: 'Manrope', sans-serif;
    font-size: 5rem;
    font-weight: 800;
    line-height: 5rem;
	text-align: left;
	padding: 170px 0;
}
.puma h2 small{
	letter-spacing :2px;
    font-size: 2rem;
    font-weight: 700;
    line-height: 4rem;
}

@keyframes fadebig {
    0% {
		opacity: 0;
    }
    100% {
        opacity: 1;
    }
}